<div class="booyah-box col-xs-10 col-xs-offset-1">
<h2>FORGOT YOUR PASSWORD?</h2><br />
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, "Send Me Reset Password Instructions", :class => 'btn btn-primary' %>
  </div>
<% end %>

</div>